*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #3498DB;
}

.wrapper{
  height: 260px;
  background: #fff;
  max-width: 410px;
  border-radius: 7px;
  padding: 16px 25px;
  transition: height 0.2s ease;

}
.wrapper.active{
  height: 530px;
}
header h1{
  font-size: 29px;
  font-weight: 500;


}
header p{
  margin-top: 5px;
  color: black;
  font-size: 16px;
}
.wrapper .form{
  margin: 20px 0 25px;
}
.form :where(input,button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.form input{
  font-size: 19px;
  padding: 0 17px;
  border: 1px solid gray;
}
.form button{
  color: white;
  cursor: pointer;
  margin-top: 20px;
  background: #3498DB;
  font-size: 17px;
}
.wrapper .qr-code{
  padding: 33px 0;
  opacity: 0;
  pointer-events: none;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
 .wrapper.active .qr-code{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
 }